# House Sales in King County - USA

Suppose a company named House Rocket negotiate properties (buy and sell properties). How can we help House Rocket CEO maximize its revenue?

## Business Model

House Rocket tries to find good deals in buying houses to resell it in a higher price.

## Business Questions & Requests - Part 1

Also, the House Rocket's CEO has some questions and requests and he wants you to get done.

1. How many houses are available for sale?
2. How many attributes we have for each house? (Their features like, number of rooms, number of garages, etc)
3. What are the attributes?
4. What is the most expensive house?
5. What is the house with the most bedrooms?
6. What is the average and median of rooms for each house?
7. How many houses have 2 bathrooms?
8. What is the average price of the houses?
9. What is the average price of 2-bathroom homes?
10. What is the lowest price for 3-bedroom homes?
11. How many houses have more than 300 square meters for the living room?
12. How many houses have more than 2 floors?
13. How many houses are seaside?
14. how many seaside houses have 3 bedrooms?
15. How many houses with more than 300 square meters for the living room have more than 2 bathrooms?

## Solution Planning

### Deliverables

1. What will I deliver?<br>
A: Answers in text format in a e-mail, for example.

### Solving Process Planning

1. Collect the data
    - How: Download from https://www.kaggle.com/harlfoxem/housesalesprediction.
2. Answer the questions
    - 1: Count the number of rows.
    - 2: Count the number of columns.
    - 3: List column names.
    - 4: Order rows by price in descending order and get the first row.
    - 5: Order rows by the number of rooms in descending order and get the first row.
    - and so on...

### Tools

1. What tools will I use?<br>
A: Jupyter Notebook and Python.

### Solution

#### Libraries

In [1]:
import pandas as pd

#### Load the dataset

In [3]:
df = pd.read_csv('kc_house_data.csv')

#### 1. How many houses are available for sale?

In [4]:
df.shape[0]

21613

#### 2. How many attributes we have for each house? (Their features like, number of rooms, number of garages, etc)

In [5]:
df.shape[1]

21

#### 3. What are the attributes?

In [6]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

#### 4. What is the most expensive house?

In [7]:
df.sort_values(by='price', ascending=False).iloc[0][['id', 'price']]

id       6762700020
price     7700000.0
Name: 7252, dtype: object

#### 5. What is the house with the most bedrooms?

In [8]:
df.sort_values(by='bedrooms', ascending=False).iloc[0][['id', 'bedrooms']]

id          2402100895
bedrooms            33
Name: 15870, dtype: object

#### 6. What is the average and median of rooms for each house?

In [9]:
print('Sum of bedrooms: {}, avg. of bedrooms: {:.2f}, median of bedrooms: {:.2f}'
      .format(df['bedrooms'].sum(), df['bedrooms'].mean(), df['bedrooms'].median()))

Sum of bedrooms: 72854, avg. of bedrooms: 3.37, median of bedrooms: 3.00

#### 7. How many houses have 2 bathrooms?

In [10]:
df[df['bedrooms']==2].shape[0]

2760

#### 8. What is the average price of the houses?

In [11]:
df['price'].mean()

540088.1417665294

#### 9. What is the average price of 2-bathroom homes?

In [12]:
df[df['bedrooms']==2]['price'].mean()

401372.681884058

#### 10. What is the lowest price for 3-bedroom homes?

In [13]:
df[df['bedrooms']==3]['price'].mean()

466232.07848127035

#### 11. How many houses have more than 300 square meters for the living room?

In [14]:
df[df['sqft_living']>300].shape[0]

21612

#### 12. How many houses have more than 2 floors?

In [15]:
df[df['floors']>2].shape[0]

782

#### 13. How many houses are seaside?

In [ ]:
df[df['waterfront']>0].shape[0]

#### 14. how many seaside houses have 3 bedrooms?

In [ ]:
df[(df['waterfront']>0) & (df['bedrooms']==3)].shape[0]

#### 15. How many houses with more than 300 square meters for the living room have more than 2 bathrooms?

In [ ]:
df[(df['sqft_living']>300) & (df['bedrooms']>2)].shape[0]

## Business Questions & Requests - Part 2

16. What is the date of the oldest property in the portfolio?
17. How many properties have the maximum number of floors?
18. Create a classification for the properties, separating them into low (price below or equal to 540000) and high standard (price above 540000).
19. I would like a report sorted by price and containing the following information: (property id, date the property became available for purchase, number of bedrooms, total land size, price, property classification (high and low standard )
20. I would like a Map indicating where the houses are located by geography.
21. Create a new column called: “house_age”
- If the value of the column "date" is greater than 2014-01-01 => ‘new_house’
- If the value of the column "date" is less than 2014-01-01 => ‘old_house’
22. Create a new column called: “dormitory_type”
- If the value of the column "bedrooms" is equal to 1 => ‘studio’
- If the value of the column "bedrooms" is equal to 2 => ‘apartment’
- If the value of the column "bedrooms" is greater than 2 => ‘house’
23. Create a new column called: “condition_type”
- If the value of the column "condition" is less than or equal to 2 => ‘bad’
- If the value of the column "condition" is equal to 3 or 4 => ‘regular’
- If the value of the column "condition" is equal to 5 => ‘good’
24. Change the TYPE Column "condition" to STRING
25. Delete the columns: “sqft_living15” and “sqft_lot15”
26. Change the TYPE Column “yr_built” to DATE
27. Change the TYPE Column “yr_renovated” to DATE
28. What is the earliest date of construction of a property?
29. What is the earliest date for renovation of a property?
30. How many properties have 2 floors?
31. How many properties are with the condition equal to “regular”?
32. How many properties are in “bad” condition and have “water views”?
33. How many properties are “good” and “new_house”?
34. What is the value of the most expensive property of the “studio” type?
35. How many “apartment” properties were renovated in 2015?
36. What is the largest number of bedrooms that a “house” property has?
37. How many “new_house” properties were renovated in 2014?
38. Select the columns: "id", "date", "price", "floors", "zipcode" by the method:
- 38.1. Direct by column name.
- 38.2. By Indices.
- 38.3. By the indexes of the rows and the name of the columns
- 38.4. Boolean Indices
39. Save a .csv file with only columns 10 through 17.
40. Change the color of the dots on the map from "pink" to "dark green"

### Solution

#### Libraries

In [18]:
import pandas as pd
import plotly.express as px

#### Load the dataset

In [16]:
df = pd.read_csv('kc_house_data.csv')

In [17]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

#### 16. What is the date of the oldest property in the portfolio?

In [ ]:
df.sort_values(by='yr_built', ascending=True).iloc[0][['id', 'yr_built']]

#### 17. How many properties have the maximum number of floors?

In [ ]:
df[df['floors']==df['floors'].max()].shape[0]

#### 18. Create a classification for the properties, separating them into low (price below or equal to 540000) and high standard (price above 540000).

In [ ]:
df['standard'] = df['price'].apply(lambda x: 'high standard' if x > 540000 else 'low standard')
df['standard'].value_counts()

#### 19. I would like a report sorted by price and containing the following information: (property id, date the property became available for purchase, number of bedrooms, total land size, price, property classification (high and low standard )

In [ ]:
df[['id', 'date', 'bedrooms', 'sqft_lot', 'price', 'standard']].sort_values(by='price', ascending=False).head()

#### 20. I would like a Map indicating where the houses are located by geography.

In [ ]:
mapa = px.scatter_mapbox(df,
                         lat='lat', lon='long', hover_name='id', hover_data=['price'],
                         color_discrete_sequence=['fuchsia'], zoom=3, height=300)

mapa.update_layout(mapbox_style='open-street-map')
mapa.update_layout(height=600, margin={'r': 0, 't': 0, 'l': 0, 'b': 0})
mapa.show()

#### 21. Create a new column called: “house_age”
- If the value of the column "date" is greater than 2015-01-01 => ‘new_house’
- If the value of the column "date" is less than 2015-01-01 => ‘old_house’

I changed 2014 to 2015.

In [ ]:
df['house_age'] = df['date'].apply(lambda x: 'new_house' if x > '2015-01-01' else 'old_house')
df['house_age'].value_counts()

#### 22. Create a new column called: “dormitory_type”

- If the value of the column "bedrooms" is equal to 1 => ‘studio’
- If the value of the column "bedrooms" is equal to 2 => ‘apartment’
- If the value of the column "bedrooms" is greater than 2 => ‘house’

In [ ]:
df['dormitory_type'] = df['bedrooms'].apply(lambda x: 'studio' if x <= 1 else 'apartment' if x == 2 else 'house')
df['dormitory_type'].value_counts()

#### 23. Create a new column called: “condition_type”
- If the value of the column "condition" is less than or equal to 2 => ‘bad’
- If the value of the column "condition" is equal to 3 or 4 => ‘regular’
- If the value of the column "condition" is equal to 5 => ‘good’

In [ ]:
df['condition_type'] = df['condition'].apply(lambda x: 'bad' if x <= 2 else 'regular' if x in (3,4) else 'good')
df['condition_type'].value_counts()

#### 24. Change the TYPE Column "condition" to STRING

In [ ]:
df['condition'] = str(df['condition'])

#### 25. Delete the columns: “sqft_living15” and “sqft_lot15”

In [ ]:
df.drop(columns=['sqft_living15', 'sqft_lot15'], inplace=True)

#### 26. Change the TYPE Column “yr_built” to DATE

In [ ]:
df['yr_built'] = pd.to_datetime(df['yr_built'], format='%Y')

#### 27. Change the TYPE Column “yr_renovated” to DATE

In [ ]:
df['yr_renovated'] = pd.to_datetime(df['yr_renovated'], format='%Y', errors='coerce')

#### 28. What is the earliest date of construction of a property?

In [ ]:
df['yr_built'].min()

#### 29. What is the earliest date for renovation of a property?

In [ ]:
df['yr_renovated'].min()

#### 30. How many properties have 2 floors?

In [ ]:
df[df['floors']==2].shape[0]

#### 31. How many properties are with the condition equal to “regular”?

In [ ]:
df[df['condition_type']=='regular'].shape[0]

#### 32. How many properties are in “bad” condition and have “water views”?

In [ ]:
df[(df['condition_type']=='bad') & (df['waterfront']>0)].shape[0]

#### 33. How many properties are “good” and “new_house”?

In [ ]:
df[(df['condition_type']=='good') & (df['house_age']=='new_house')].shape[0]

#### 34. What is the value of the most expensive property of the “studio” type?

In [ ]:
df[(df['dormitory_type']=='studio')].sort_values(by='price', ascending=False).iloc[0][['id', 'price']]

#### 35. How many “apartment” properties were renovated in 2015?

In [ ]:
df[df['yr_renovated']=='01-01-2015'].shape[0]

#### 36. What is the largest number of bedrooms that a “house” property has?

In [ ]:
df[(df['dormitory_type']=='house')]['bedrooms'].max()

#### 37. How many “new_house” properties were renovated in 2014?

In [ ]:
df[(df['house_age']=='new_house')&(df['yr_renovated']=='01-01-2014')].shape[0]

#### 38. Select the columns: "id", "date", "price", "floors", "zipcode" by the method:
- Direct by column name.
- By Indices.
- By the indexes of the rows and the name of the columns
- Boolean Indices

#### 39. Save a .csv file with only columns 10 through 17.

In [ ]:
df.iloc[:, 10:17].shape #.to_csv('file.csv') #instead of .shape

#### 40. Change the color of the dots on the map from "pink" to "dark green"

In [ ]:
mapa = px.scatter_mapbox(df, lat='lat', lon='long', hover_name='id', hover_data=['price'], color_discrete_sequence=['darkgreen'], zoom=3, height=300)

mapa.update_layout(mapbox_style='open-street-map')
mapa.update_layout(height=600, margin={'r': 0, 't': 0, 'l': 0, 'b': 0})
mapa.show()